<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Connection to DB -->
	<connectionStrings>
		<add name="bcConnectorString" connectionString="Host=10.245.129.49;DB=LG;Application=3002;Port=4530;HostLanguage=HN;ServerEnvironment=Windows;ConnectionPooling=N;MaxConnections=100;IdleTimeout=120;InitialCommand=SAPS;TrxId=SAPU;Timeout=2000;Transactional=N" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	</appSettings>

</configuration>